[Unit]
Description=Start backontrack
DefaultDependencies=no
After=network-online.target

[Service]
Type=oneshot
Environment=GOPATH=/home/bot/go/
ExecStart=/usr/bin/bash /home/bot/backontrack/systemd/start_bot.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
